<div class="content-heading">
    Manage Master Data
</div>
<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-3">
                <div class="row text-center">
                    <strong>Select Type</strong>
                </div>
                <div class="row m-t-10">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="form-control">
                           <option>Product Type</option>
                           <option>Product Sub Type</option>
                        </select>
                        </div>
                    </div>
                    <!-- END button group-->
                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="panel-title col-sm-10">
                                <h4>Product Type</h4>
                                <div class="row" *ngIf="new">
                                    <br/>
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <small>Name :</small>
                                            <input class="form-control" type="text" />
                                        </div>
                                        <div class="col-sm-4">
                                            <small>Value :</small>
                                            <input class="form-control" type="text" />
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <br/>
                                                    <button class="btn btn-primary btn-xs" (click)="saveNewType()" type="button">Add Product Type</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 m-t-10" *ngIf="!new">
                                <button class="btn btn-primary btn-xs" type="button" (click)="new = true">Add New +</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span *ngIf="!editType">Seed</span>
                                            <input class="form-control" *ngIf="editType" type="text" />
                                        </td>
                                        <td><span *ngIf="!editType">Seed</span>
                                            <input class="form-control" type="text" *ngIf="editType" />
                                        </td>
                                        <td><button class="btn btn-info btn-xs" type="button" *ngIf="!editType"> <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editType=true"></i></button>
                                            <button class="btn btn-success btn-xs" type="button" *ngIf="editType"> <i class="fa fa-check" aria-hidden="true" (click)="editType=false"></i></button>
                                            <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Chemical Fertilizer</td>
                                        <td>Chemical Fertilizer</td>
                                        <td><button class="btn btn-info btn-xs" type="button"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                            <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Medicine</td>
                                        <td>Medicine</td>
                                        <td><button class="btn btn-info btn-xs" type="button"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                            <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>