<div class="content-heading">
    Manage Master Data
</div>
<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-3">
                <div class="row text-center">
                    <strong>Select Type</strong>
                </div>
                <div class="row m-t-10">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="form-control">
                           <option>Product Type</option>
                           <option>Product Sub Type</option>
                        </select>
                        </div>
                    </div>
                    <!-- END button group-->
                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Manage Master Data</h5>
                        </div>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>